*{
  text-align: center
}
#root{
  background-color:rgba(248, 249, 250, 0.938)
}

@import "~bootstrap/scss/bootstrap";

.btn-huhu{
  color:aqua
}


.addbookdivscale{
  transform:scaleY(0.93) scaleX(0.95);
}

@media  (min-width:900px) {
  .addbookdivscale{
    transform:scaleY(0.9) scaleX(0.92);
  }
}


.tagstxt{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.descriptiontxt{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


@media  (max-width:333px) {
  .descriptiontxt{
    -webkit-line-clamp: 2;
  }
}

@media  (max-width:360px) {

  .bookcomponentscale{
    transform:scaleY(0.93)
  }

  @media  (max-width:290px) {
    .bookcomponentscale{
      transform:scaleY(0.85)
    }
  }
}






@media  (min-width:1000px) {
  .descriptiontxt{
    -webkit-line-clamp: 5;
  }
  .tagstxt{
    -webkit-line-clamp: 2;
  }

  @media  (min-width:1200px) {
    .tagstxt{
      -webkit-line-clamp: 3;
    }
  }
}

// div{
//   filter: invert(1);
// }


.fallbackimg{
  background-image:url('./Addbook/plussign.png');
   background-size:cover;
   background-repeat:none;
}


.booktitle{
  cursor: pointer;
}

.booktitle:hover{
  text-decoration: underline;
}